body {
    margin: 0 auto;
    max-width: 50em;
    color: darkslategray;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.brooks {
    font-size: large;
}

#craig {
    background-color: lavender;
}

a:hover {
    color: plum;
}
